.square {
    height: 50px;
    width: 50px;
    background-color: lightcoral;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: yellowgreen;
    border-radius: 50%;
}

.rectangle {
    height: 50px;
    width: 100px;
    background-color: burlywood;
}