#clockInBtn{
    background-color: #72A7A4;
    border: 1px solid white;
}

#clockOutBtn{
    background-color: #995980;
    border: 1px solid white;
}

#clockInBtn:hover{
    background-color: darkslategray;
}

#clockOutBtn:hover{
    background-color: #883E6B;
}