#ed-srch-term {
  padding: 0px 10px 0 20px;
  margin-top: 10px;
  color: #333;
  font-size: 20px;
  font-weight: 100px;
  border: 3px solid #ca6e1e;
  -webkit-box-shadow: none;
  box-shadow: none;
  max-height: 45px;
  max-width: 60%;
  height: auto;
  border-radius: 50px 50px 50px 50px !important;
}
#ed-srch-term :focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
}
