.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  height: 100vh;
}

.sidebar-sticky {
  padding-top: 0.5rem;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  margin: 0;
}

/* .sidebar .nav .fas {
  margin-right: 10px;
} */

.sidebar-divider {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-color: darkslategray;
  width: 80%;
}

.nav-link{
  color:#D2D45B ;
}

.navbar-brand.m-0{
  color: #DAF7A6 ;
  font-size: 30px;
}