.home {
  color: #37cfc8;
  font-size: 30px;
  text-align: center;
  font-weight: 900;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 130px;
  top: 0;
  bottom:0;
  left: 0;
  background-color: #f1f1f1;
  position: fixed;
  overflow: auto;
  z-index: 100;
}

.sidebar a {
  display: block;
  color: #d2d45b;
  padding: 5px;
  text-decoration: none;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


.sidebar .fas {
  margin-right: 5px;
}


a{
  font-size:12pt;
  display:block;
  float: right;
  height:80px;
  width: 130px; 
  text-align: center; 
  transition: all 0.2s ease-in-out;
}

nav a {
  color:#d2d45b;
  font-size:16pt;
  text-decoration: none;
  display: block;
  padding:8px;
}

nav i {
  color:#d2d45b;
  padding:0 8px;
}
nav span {
  padding: 15px 0;
  display: none;
}
nav a:hover {
  color: #fff;
}
nav a:hover i {
  display: none;
}
nav a:hover span {
  display: block;
}